body {
  font-family: Arial, sans-serif;
  color: rgb(54, 54, 55); /* Dålig kontrast */
  background-color: #eee;
  /*   font-size: 9px; */ /* För liten textstorlek */
}

a {
  color: darkblue; /* Dålig kontrast mot vit bakgrund */
}
